extends baseEmail

block content
    p Hi,
    p Your meeting is starting in 15 minutes,
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
    p If you dont have a meeting, please ignore this email!